*{margin: 0; padding: 0; box-sizing: border-box;}

.card{
   width: 35%;
   height: 250px;
   margin: 0 auto;
   margin-top: 100px;
   border-radius: 20px;
   box-shadow: 20px 20px 30px rgba(0 , 0, 0, 0.6);
  border: none;
}
.heading{
    padding: 20px;
    color: white;
    text-align: center;
    background-color: rgb(78, 78, 255);
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
h3{
    margin-top: 15px;
    margin-left: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
 h3 span{
    color: green;
 }